@model IEnumerable<LAB0_ED1_G.Models.Cliente>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Bienvenido a Crear Nuevo Cliente</a>
</p>

<table class="table">
    <thead>
        <tr>
            <!-- thead contiene un bloque de filas tr y th su encabezado-->
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayNameFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayNameFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayNameFor(modelItem => item.telefono)
                </td>
                <td>
                    @Html.DisplayNameFor(modelItem => item.Descripcion)
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="OrdenamientoN">Ordenar por Nombre</a> | <a asp-action="OrdenamientoA">Ordenar por Apellido</a>
</div>